<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Backoffice Lib Docs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>
          <script>
               // Blocking script to avoid flickering dark mode
               // Dark mode toggle button
               var useDark = window.matchMedia('(prefers-color-scheme: dark)');
               var darkModeState = useDark.matches;
               var $darkModeToggleSwitchers = document.querySelectorAll('.dark-mode-switch input');
               var $darkModeToggles = document.querySelectorAll('.dark-mode-switch');
               var darkModeStateLocal = localStorage.getItem('compodoc_darkmode-state');

               function checkToggle(check) {
                    for (var i = 0; i < $darkModeToggleSwitchers.length; i++) {
                         $darkModeToggleSwitchers[i].checked = check;
                    }
               }

               function toggleDarkMode(state) {
                    if (window.localStorage) {
                         localStorage.setItem('compodoc_darkmode-state', state);
                    }

                    checkToggle(state);

                    const hasClass = document.body.classList.contains('dark');

                    if (state) {
                         for (var i = 0; i < $darkModeToggles.length; i++) {
                              $darkModeToggles[i].classList.add('dark');
                         }
                         if (!hasClass) {
                              document.body.classList.add('dark');
                         }
                    } else {
                         for (var i = 0; i < $darkModeToggles.length; i++) {
                              $darkModeToggles[i].classList.remove('dark');
                         }
                         if (hasClass) {
                              document.body.classList.remove('dark');
                         }
                    }
               }

               useDark.addEventListener('change', function (evt) {
                    toggleDarkMode(evt.matches);
               });
               if (darkModeStateLocal) {
                    darkModeState = darkModeStateLocal === 'true';
               }
               toggleDarkMode(darkModeState);
          </script>

        <div class="navbar navbar-default navbar-fixed-top d-md-none p-0">
               <div class="d-flex">
                    <a href="../" class="navbar-brand">Backoffice Lib Docs</a>
                    <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
               </div>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Digite para pesquisar"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="d-none d-md-block menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li class="breadcrumb-item">Componentes</li>
  <li class="breadcrumb-item"
  >
  ChartsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a href="#info" class="nav-link active"
                role="tab" id="info-tab" data-bs-toggle="tab" data-link="info">Info</a>
        </li>
        <li class="nav-item">
            <a href="#source" class="nav-link"
                role="tab" id="source-tab" data-bs-toggle="tab" data-link="source">Source</a>
        </li>
        <li class="nav-item">
            <a href="#templateData" class="nav-link"
                role="tab" id="templateData-tab" data-bs-toggle="tab" data-link="template">Template</a>
        </li>
        <li class="nav-item">
            <a href="#styleData" class="nav-link"
                role="tab" id="styleData-tab" data-bs-toggle="tab" data-link="style">Styles</a>
        </li>
        <li class="nav-item">
            <a href="#tree" class="nav-link"
                role="tab" id="tree-tab" data-bs-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>Arquivo</h3>
</p>
<p class="comment">
    <code>projects/bo-lib/src/lib/components/charts/charts.component.ts</code>
</p>




    <p class="comment">
        <h3>Implementa</h3>
    </p>
    <p class="comment">
                <code>AfterViewInit</code>
    </p>


<section data-compodoc="block-metadata">
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>bo-charts</code></td>
            </tr>

            <tr>
                <td class="col-md-3">standalone</td>
                <td class="col-md-9"><code>true</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./charts.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./charts.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section data-compodoc="block-index">
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Propriedades</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier"></span>
                                <a href="#chartCanvas" >chartCanvas</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Métodos</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngAfterViewInit" >ngAfterViewInit</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#datasets" >datasets</a>
                            </li>
                            <li>
                                <a href="#height" >height</a>
                            </li>
                            <li>
                                <a href="#labels" >labels</a>
                            </li>
                            <li>
                                <a href="#type" >type</a>
                            </li>
                            <li>
                                <a href="#width" >width</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>


    <section data-compodoc="block-inputs">
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="datasets"></a>
                        <b>datasets</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>    <code>any[]</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Valor padrão : </i><code>[]</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Definido em <a href="" data-line="53" class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:53</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Dados do gráfico, incluindo valores, cores e estilos.</p>
<b>Exemplo :</b><div><pre class="line-numbers"><code class="language-html">[
  { label: &#39;Dataset 1&#39;, data: [10, 20, 30], backgroundColor: [&#39;red&#39;, &#39;blue&#39;, &#39;yellow&#39;] }
]</code></pre></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="height"></a>
                        <b>height</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Valor padrão : </i><code>300</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Definido em <a href="" data-line="30" class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:30</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Altura do gráfico em pixels.</p>
<b>Exemplo :</b><div><pre class="line-numbers"><code class="language-html">300</code></pre></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="labels"></a>
                        <b>labels</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>    <code>string[]</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Valor padrão : </i><code>[]</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Definido em <a href="" data-line="44" class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:44</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Rótulos dos eixos X ou categorias do gráfico.</p>
<b>Exemplo :</b><div><pre class="line-numbers"><code class="language-html">[&#39;Janeiro&#39;, &#39;Fevereiro&#39;, &#39;Março&#39;]</code></pre></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="type"></a>
                        <b>type</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>    <code>ChartType</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Valor padrão : </i><code>&quot;bar&quot;</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Definido em <a href="" data-line="37" class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:37</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Tipo do gráfico a ser renderizado.</p>
<b>Exemplo :</b><div><pre class="line-numbers"><code class="language-html">&#39;bar&#39; | &#39;line&#39; | &#39;doughnut&#39; | &#39;radar&#39; | &#39;polarArea&#39; | &#39;scatter&#39;</code></pre></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="width"></a>
                        <b>width</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Valor padrão : </i><code>300</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Definido em <a href="" data-line="23" class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:23</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>Largura do gráfico em pixels.</p>
<b>Exemplo :</b><div><pre class="line-numbers"><code class="language-html">300</code></pre></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>



    <section data-compodoc="block-methods">
    
    <h3 id="methods">
        Métodos
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <span ><b>ngAfterViewInit</b></span>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Definido em <a href="" data-line="64"
                                    class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:64</a></div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">
                        <div class="io-description"><p>Método chamado após a inicialização da view.
Configura e renderiza o gráfico utilizando a biblioteca Chart.js.</p>
</div>

                        <div class="io-description">
                            <b>Retorna : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section data-compodoc="block-properties">
    
    <h3 id="inputs">
        Propriedades
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="chartCanvas"></a>
                    <span class="name">
                            <span class="modifier"></span>
                        <span ><b>chartCanvas</b></span>
                        <a href="#chartCanvas"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>    <code>ElementRef&lt;HTMLCanvasElement&gt;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decoradores : </b>
                        <br />
                        <code>
                            @ViewChild(&#x27;chartCanvas&#x27;)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Definido em <a href="" data-line="58" class="link-to-prism">projects/bo-lib/src/lib/components/charts/charts.component.ts:58</a></div>
                        </td>
                    </tr>

            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Elemento HTML do canvas onde o gráfico será renderizado.</p>
</div>
                </td>
            </tr>

        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Chart, ChartConfiguration, ChartType, registerables } from &quot;chart.js&quot;;
import {
  Component,
  Input,
  AfterViewInit,
  ElementRef,
  ViewChild,
} from &quot;@angular/core&quot;;

@Component({
  selector: &quot;bo-charts&quot;,
  standalone: true,
  imports: [],
  templateUrl: &quot;./charts.component.html&quot;,
  styleUrls: [&quot;./charts.component.css&quot;],
})
export class ChartsComponent implements AfterViewInit {
  /**
   * Largura do gráfico em pixels.
   * @example
   * 300
   */
  @Input() width: number &#x3D; 300;

  /**
   * Altura do gráfico em pixels.
   * @example
   * 300
   */
  @Input() height: number &#x3D; 300;

  /**
   * Tipo do gráfico a ser renderizado.
   * @example
   * &#x27;bar&#x27; | &#x27;line&#x27; | &#x27;doughnut&#x27; | &#x27;radar&#x27; | &#x27;polarArea&#x27; | &#x27;scatter&#x27;
   */
  @Input() type: ChartType &#x3D; &quot;bar&quot;;

  /**
   * Rótulos dos eixos X ou categorias do gráfico.
   * @example
   * [&#x27;Janeiro&#x27;, &#x27;Fevereiro&#x27;, &#x27;Março&#x27;]
   */
  @Input() labels: string[] &#x3D; [];

  /**
   * Dados do gráfico, incluindo valores, cores e estilos.
   * @example
   * [
   *   { label: &#x27;Dataset 1&#x27;, data: [10, 20, 30], backgroundColor: [&#x27;red&#x27;, &#x27;blue&#x27;, &#x27;yellow&#x27;] }
   * ]
   */
  @Input() datasets: any[] &#x3D; [];

  /**
   * Elemento HTML do canvas onde o gráfico será renderizado.
   */
  @ViewChild(&quot;chartCanvas&quot;) chartCanvas!: ElementRef&lt;HTMLCanvasElement&gt;;

  /**
   * Método chamado após a inicialização da view.
   * Configura e renderiza o gráfico utilizando a biblioteca Chart.js.
   */
  ngAfterViewInit(): void {
    Chart.register(...registerables);

    /**
     * Configuração do gráfico, incluindo tipo, dados e opções.
     */
    const config: ChartConfiguration &#x3D; {
      type: this.type,
      data: {
        labels: this.labels,
        datasets: this.datasets,
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      },
    };

    /**
     * Obtém o contexto 2D do canvas e cria o gráfico.
     * Exibe um erro no console se o contexto não for encontrado.
     */
    const ctx &#x3D; this.chartCanvas.nativeElement.getContext(&quot;2d&quot;);
    if (ctx) {
      new Chart(ctx, config);
    } else {
      console.error(&quot;Erro: Não foi possível obter o contexto do canvas.&quot;);
    }
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div
  [style.display]&#x3D;&quot;&#x27;block&#x27;&quot;
  [style.width.px]&#x3D;&quot;width&quot;
  [style.height.px]&#x3D;&quot;height&quot;
&gt;
  &lt;canvas #chartCanvas&gt;&lt;/canvas&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="tab-pane fade " id="styleData">
                <p class="comment">
                    <code>./charts.component.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss"></code></pre>
    </div>

    <div class="tab-pane fade " id="tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Elemento HTML</span>
            </div>
            <div>
                <div class="color component"></div><span>Componente</span>
            </div>
            <div>
                <div class="color directive"></div><span>Elemento HTML com diretiva</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div  [style.display]="\'block\'"  [style.width.px]="width"  [style.height.px]="height">  <canvas #chartCanvas></canvas></div></div>'
    var COMPONENTS = [{'name': 'ChartsComponent', 'selector': 'bo-charts'},{'name': 'DrilldownComponent', 'selector': 'bo-drilldown'},{'name': 'ExportButtonComponent', 'selector': 'bo-export-button'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ChartsComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> resultados correspondentes "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">Nenhum resultado correspondente "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ChartsComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script>
               $darkModeToggleSwitchers = document.querySelectorAll('.dark-mode-switch input');
               checkToggle(darkModeState);
               if ($darkModeToggleSwitchers.length > 0) {
                    for (var i = 0; i < $darkModeToggleSwitchers.length; i++) {
                         $darkModeToggleSwitchers[i].addEventListener('change', function (event) {
                              darkModeState = !darkModeState;
                              toggleDarkMode(darkModeState);
                         });
                    }
               }
          </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
