<div class="sprites">
  <div class="form-check">
    <mat-slide-toggle [color]="color" (change)="mudarFavoritos()" [(ngModel)]="apenasFavoritos">Apenas Favoritos?</mat-slide-toggle>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      (change)="setAnimado(false)"
    />
    <label class="form-check-label"> Sprite Estático </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      (change)="setAnimado(true)"
      checked
    />
    <label class="form-check-label"> Sprite Animado </label>
  </div>
</div>
