<div class="pokemon-card {{ pokemon.types[0].type.name }}">
  <div class="row">
    <div class="col-sm-1 bg-poke">
      <img
        class="pokemon-image"
        [src]="verificaSprite(pokemon)"
        alt="Bulbasaur"
      />
      <img
        class="pokemon-background"
        src="https://pokemoncalc.web.app/en/assets/pokeball.svg"
        alt="bulbasaur"
      />
    </div>
    <div class="col-sm-2">
      <div class="pokemon-info">
        <div class="pokemon-info__name">{{ pokemon.name }}</div>
        <div *ngFor="let tipo of pokemon.types" class="pokemon-info__type">
          {{ tipo.type.name }}
        </div>
      </div>
    </div>
    <div class="col-sm-4 pokemon-comentario">Aqui vem um comentário...</div>
    <div class="col-sm-5 pokemon-favorite"><i class="bi bi-star"></i></div>
  </div>
</div>
