<div class="pokemon-card {{ pokemon.types[0].type.name }}">
  <div class="row">
    <div class="col-sm-1 bg-poke">
      <img
        class="pokemon-image"
        [src]="verificaSprite(pokemon)"
        alt="Bulbasaur"
      />
      <img
        class="pokemon-background"
        src="https://pokemoncalc.web.app/en/assets/pokeball.svg"
        alt="bulbasaur"
      />
    </div>
    <div class="col-sm-2">
      <div class="pokemon-info">
        <div class="pokemon-info__name">{{ pokemon.name }}</div>
        <div *ngFor="let tipo of pokemon.types" class="pokemon-info__type">
          {{ tipo.type.name }}
        </div>
      </div>
    </div>
    <div class="col-sm-7 pokemon-comentario">
      <p  *ngIf="(getComentario(pokemon.id) | async) != ''">
        <i class="bi bi-chat-square-text-fill"></i>
        <span>{{ getComentario(pokemon.id) | async }}</span>
      </p>
      <button
        *ngIf="(getComentario(pokemon.id) | async) == ''"
        class="adicionar-comentario"
        [swal]="{
          title: 'Digite um comentário...',
          input: 'text',
          showCancelButton: true,
          confirmButtonText: 'Salvar',
          cancelButtonText: 'Cancelar'
        }"
        (confirm)="adicionarComentario(pokemon.id, $event)"
      >
        Adicionar um comentário
      </button>

      <button
      *ngIf="(getComentario(pokemon.id) | async) != ''"
      class="remover-comentario"
        [swal]="{
          title: 'Deseja apagar o comentario ' + (getComentario(pokemon.id) | async) + '?',
          showCancelButton: true,
          confirmButtonText: 'Confirmar',
          cancelButtonText: 'Cancelar'
        }"
        (confirm)="removerComentario($event,pokemon.id)"
      >
      <i class="bi bi-trash"></i>
      </button>
    </div>
    <div class="col-sm-2 pokemon-favorite"><i class="bi bi-star"></i></div>
  </div>
</div>
